<section class="contact" id="contact">
    <div class="icons">
        <i class="fas fa-home " id="icon1"></i>
        <h2 class="hicons">Dirección</h2>
        <p class="picons">Horacio Casco 5275 - CABA</p>

    </div>
    <div class="icons ">
        <i class="far fa-clock " id="icon2"></i>
        <h2 class="hicons">Horario de atención</h2>
        <p class="picons">Todos los días de 8 a 22 hs</p>


    </div>
    <div class="icons ">
        <i class="fab fa-whatsapp " id="icon3"></i>
        <h2 class="hicons">Whatsapp</h2>
        <p class="picons">Cel/Whatsapp: 1140679793</p>

    </div>
    <div class="icons ">
        <i class="fas fa-envelope-square " id="icon4"></i>
        <h2 class="hicons">Email</h2>
        <p class="picons">ser2004munoz@yahoo.com.ar</p>

    </div>

</section>
