<section class="tsection" id="trasladot">
    <div class="ttittle">
        <h1>Traslados para la familia:</h1>
    </div>

    <div>
        <p class="tp ">
            Los traslados se realizan en una Kangoo para el grupo familiar(máx. 4 pasajeros). Son ida y vuelta, puerta a puerta, de tu domicilio al departamento que hayas reservado y posteriormente al terminar tu estadía, se realiza el regreso a tu casa. Son opcionales
            y apartes del alquiler.
        </p>
    </div>
</section>

<section class="traslados" id="traslate">
    <div class="icons">
        <i class="fas fa-house-user" id="icon5"></i>
        <h2>Tu casa</h2>
    </div>
    <div class="icons">
        <i class="fas fa-angle-double-left" id="icon6"></i>
        <h2 class="tregreso">Regreso</h2>
    </div>
    <div class="icons">
        <i class="fas fa-shuttle-van" id="icon7"></i>
        <h2>Traslado</h2>
    </div>
    <div class="icons">
        <i class="fas fa-angle-double-right" id="icon8"></i>
        <h2 class="tida">ida</h2>
    </div>

    <div class="dicons">
        <div class="icons">
            <img style="width: 150px; margin-right: 10px; border-radius: 7px" src=" ../assets/img/collagearcoiris.jpeg " alt=" ">
            <h2>Arcoiris</h2>
        </div>
        <div class="icons">
            <img style="width: 150px; border-radius: 7px" src="../assets/img/collagemedanos.jpeg" alt=" ">
            <h2>Médanos</h2>
        </div>
    </div>
</section>


