<main class="main">

    <section class="section" id="home">
        <div class="tex">
            <p class="p1" id="home2">¡VENI A DISFRUTAR TUS VACACIONES 2023 EN SAN CLEMENTE DEL TUYÚ!</p>
        </div>
        <div class="tex2">
            <p class="p2">Visítanos en Facebook, 9 años de alquiler y traslados consecutivos</p>
            <a href="https://www.facebook.com/profile.php?id=100007425427174" target="_blank "><img id="face" style="width: 50px" src="./assets/img/facebook-logo-3-1.png"></a>
        </div>
    </section>

    <h2 class="tittle2 ">ATRACTIVOS TURÍSTICOS</h2>
    <hr>

    <section class="sitios">

        <div class="mm">
            <img style="width:230px" src="./assets/img/mundo marino.jpg ">
            <button type="button " class="btn "><a href="https://www.mundomarino.com.ar/" target="_blank ">SITIO WEB</a></button>
        </div>

        <div class="tm">
            <img style="width: 190px " src="./assets/img/termas1.jpg" alt=" ">
            <button type="button" class="btn"><a href="https://termasmarinas.com.ar/" target="_blank ">SITIO WEB</a></button>
        </div>


    </section>
</main>